header {
    background-image: url("https://github.com/afiting/FitingWebsite/blob/0b2217b2e6cc2a2621159d8dc22adbcfa6e457f4/Images/Banner.png");
}
body {
    background-image: url("https://github.com/afiting/FitingWebsite/blob/0b2217b2e6cc2a2621159d8dc22adbcfa6e457f4/Images/background2.png");
}
h1 {
    font-size: 200px;
    text-align: center;
}
.button-table {
    background-color: rgb(121, 109, 107);
    border: medium dashed black;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 35px;
}
button {
    width: 200px;
    height: 160px;
    border: medium solid black;

}
