header {
    background-image: url("./Images/Banner.png");
}
body {
    background-image: url("./Images/background2.png");
}
h1 {
    font-size: 100px;
    text-align: center;
}
.button-table {
    background-color: rgb(121, 109, 107);
    border: medium dashed black;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 35px;
}
.main-buttons {
    width: 200px;
    height: 160px;
    border: medium solid black;

}
table.center {
    margin-left: auto; 
    margin-right: auto;
    table-layout: auto;
}
td.projectJS {
    border:1px solid black;
}
